NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_PROFILE_USERNAME=@yourusername
NOTION_PROFILE_DISPLAY_NAME=Your Display Name
NOTION_PROFILE_AVATAR=
NOTION_PROFILE_BIO=Notion systems for your content and small biz\n4000+ templates sold\nNOTION CURES
NOTION_PROFILE_LINK=https://templatesbygabi.etsy.com
